<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>477260617779-p6kdg9oaebnbfiu93odqnc5tor9c5fk9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.477260617779-p6kdg9oaebnbfiu93odqnc5tor9c5fk9</string>
	<key>API_KEY</key>
	<string>AIzaSyDBCl_tQ51_Otp-l6T9MBPVFswNkif6yzc</string>
	<key>GCM_SENDER_ID</key>
	<string>477260617779</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.co.bonhyuk.DDK-Client</string>
	<key>PROJECT_ID</key>
	<string>ddkclient-fe15d</string>
	<key>STORAGE_BUCKET</key>
	<string>ddkclient-fe15d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:477260617779:ios:959eb159d406ddd4e42b46</string>
</dict>
</plist>